:root{
    --shade1: #012a4a;
    --shade2: #61a5c2;
    --shade3: #a9d6e5;
}

body{
    margin: 0;

    background-color: var(--shade3);
}

main{
    max-width: 100vw;
    min-height: 100vh;
}
h1{
    text-align: center;
    width: 90%;
    margin: 0;

    padding-top: 2vh;
    padding-bottom: 2vh;

    border-radius: 10px;
}
canvas{
    width: 90%;
    height: 80%;
    background-color: lightgray;
    border-radius: 5px;
}

section{
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-bottom: 10vh;
}
section:nth-child(n+2) h1{
    background-color: var(--shade2);
    margin-bottom: 1vh;
}
section:nth-child(1){
    position: fixed;

    background-color: var(--shade1);
    color: white;

    margin-bottom: 0;
}
section:nth-child(2){
    padding-top: 10vh;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--shade2);

    border-radius: 10px;

    width: 40%;
    min-height: 40vh;
}
.data-container h2{
    border-bottom: 1px solid lightgray;
    width: 90%;
    text-align: center;
}
